body{
    background-color: slategrey;
}

.sectionRight{
    right: 100px;
    top: 120px;
    width: 20%;
}

.sectionLeft{
    left: 100px;
    top: 150px;
    width: 20%;
}

.sectionDown button{
    background-color: darkgoldenrod;
    top: 210px;
}

.scoreContainer img{
    background-color: lightslategrey;
    width: 30%;
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.clickerContainer img{
    position: relative;
    transition: all .2s ease-in-out;
}

.clickerContainer img:hover { transform: scale(1.10); }
.clickerContainer img:active { transform: scale(0.99); }

.resetGame button{
    background-color: goldenrod;
    position: absolute;
    top: 30px;
    left: 50px;
}

.shopButton{
    background-color: lightslategrey;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.shopButton hover{
    background-color: lightgrey;
    transition: all ease-in-out;
}

.shopButton #image{
    width: 25%;
}

.shopButton img{
    height: 64px;
    width: 64px;
}

.shopButton #nameAndCost p{
    margin: 0px;
    width: 60%;
}

.shopButton #nameAndCost p:first-of-type{
    font-size: 24px;
}

.shopButton #amount{
    font-size: 48px;
    color: #595959;
    font-family: roboto;
    width: 15%;
}

#upgradeContainer img{
    height: 64px;
    width: 64px;
}

.farmer{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 120px;
}

 .trowel{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 220px;
}

.shovel{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 320px;
}

.hoe{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 420px;
}

.tractor{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 520px;
}

.cropSprayer{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 620px;
}

.cultivator{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 720px;
}

.harvester{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 820px;
}


.field{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 120px;
}

.idaho{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 220px;
}

.ireland{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 320px;
}

.potatoland{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 420px;
}

.redPotato{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 520px;
}

.goldenPotato{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 620px;
}

#upgradeContainer img{
    height: 64px;
    width: 64px;
}
