/*==============================================================
                               Main
==============================================================*/

body{
    background-color: slategrey;
}

.vl {
    border-right: 2px solid goldenrod;
    border-left: 1px solid lightslategrey;
    height: 915px;
    position: absolute;
    right: 27%;
    margin-left: -3px;
    top: 0;
}

hr{
    border-top: 3px solid goldenrod;
}

.scroll-bar {
    height: 100%;
    width: 500px;
    border: 1px solid grey;
    overflow: auto;
}

/*==============================================================
                             Sections
==============================================================*/

.sectionRight{
    right: 100px;
    top: 120px;
    width: 20%;
}

.sectionLeft{
    left: 100px;
    top: 150px;
    width: 20%;
}

.sectionDown button{
    background-color: darkgoldenrod;
    top: 210px;
}

/*==============================================================
                             Containers
==============================================================*/

.scoreContainer img{
    background-color: lightslategrey;
    width: 30%;
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.clickerContainer img{
    position: relative;
    transition: all .2s ease-in-out;
}

.clickerContainer img:hover { transform: scale(1.10); }
.clickerContainer img:active { transform: scale(0.99); }

#upgradeContainer img{
    height: 64px;
    width: 64px;
}

/*==============================================================
                             Buttons
==============================================================*/

.resetGame button{
    background-color: goldenrod;
    position: absolute;
    top: 40px;
    left: 60px;
}

/*==============================================================
                           Shop Buttons
==============================================================*/

.shopButton{
    background-color: lightslategrey;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.shopButton hover{
    background-color: lightgrey;
    transition: all ease-in-out;
}

.shopButton #image{
    width: 25%;
}

.shopButton img{
    height: 64px;
    width: 64px;
}

.shopButton #nameAndCost p{
    margin: 0px;
    width: 60%;
}

.shopButton #nameAndCost p:first-of-type{
    font-size: 24px;
}

.shopButton #amount{
    font-size: 48px;
    color: #595959;
    font-family: roboto;
    width: 15%;
}

/*==============================================================
                            Buildings
==============================================================*/

.farmer{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 120px;
}

 .trowel{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 220px;
}

.shovel{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 320px;
}

.hoe{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 420px;
}

.tractor{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 520px;
}

.cropSprayer{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 620px;
}

.cultivator{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 720px;
}

.harvester{
    background-color: slategrey;
    position: absolute;
    right: 80px;
    top: 820px;
}


.field{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 120px;
}

.idaho{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 220px;
}

.ireland{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 320px;
}

.potatoland{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 420px;
}

.redPotato{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 520px;
}

.goldenPotato{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 620px;
}

.radioactivePotato{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 750px;
}

.jacob{
    background-color: slategrey;
    position: absolute;
    left: 80px;
    top: 880px;
}

/*==============================================================
                             Upgrades
==============================================================*/

.redBull{
    background-color: lightslategrey;
    right: 320px;
    top: 5px;
    width: 10%;
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 10px 0px 10px 0px;
    border-radius: 80%;
}

/*==============================================================
                           Farm Name
==============================================================*/

#farmNameAnchor {
	position:absolute;
	left:0px;
	top:10%;
	width:100%;
	z-index:200;
}

#farmName {
	position:absolute;
	left:0px;
	bottom:8px;
	left:12.5%;
	width:75%;
	text-align:center;
	font-size:20px;
	background:#000;
	background:rgba(0,0,0,0.4);
	border-radius:12px;
	padding:4px 0px;
	cursor:pointer;
}

#farmName:hover {
	text-shadow:0px 0px 8px #fff;
}

/*==============================================================
                           AdsByLogan
==============================================================*/

.sponsor {
    position: absolute;
    left: 300px;
    top: 0px;
}

.adsByLogan input{
    background-color: seagreen;
    position: absolute;
    left: 260px;
    top: 55px;
}

.branch1 img{
    position: absolute;
    left: 195px;
    top: 52px;
    width: 5%;
}

.branch2 img{
    position: absolute;
    left: 445px;
    top: 52px;
    width: 5%;
}
